# Django
SECRET_KEY=-PpGq7VpK5vgk94e-7yTrL1soZMETDoUedrjnbvvPTkN6UrgAI6ViIIRsisFb1wfc5c
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,89.169.180.248,fffoooddgramm.ddns.net

# Database
DB_NAME=foodgram
DB_USER=foodgram_user
DB_PASSWORD=afdwMp-85pYexEuTJ27nLfLfxdw
DB_HOST=db
DB_PORT=5432

# Docker Hub
DOCKERHUB_USERNAME=arturioo22

# Superuser (опционально)
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123