SECRET_KEY=-PpGq7VpK5vgk94e-7yTrL1soZMETDoUedrjnbvvPTkN6UrgAI6ViIIRsisFb1wfc5c
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,89.169.180.248,fffoooddgramm.ddns.net

USE_SQLITE=False
DB_NAME=foodgram
DB_USER=foodgram_user
DB_PASSWORD=afdwMp-85pYexEuTJ27nLfLfxdw
DB_HOST=db
DB_PORT=5432

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin123

POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=afdwMp-85pYexEuTJ27nLfLfxdw

CSRF_TRUSTED_ORIGINS=https://fffoooddgramm.ddns.net,http://fffoooddgramm.ddns.net,https://www.fffoooddgramm.ddns.net,http://www.fffoooddgramm.ddns.net,http://localhost,http://127.0.0.1,http://89.169.180.248
CORS_ALLOWED_ORIGINS=https://fffoooddgramm.ddns.net,http://fffoooddgramm.ddns.net,https://www.fffoooddgramm.ddns.net,http://www.fffoooddgramm.ddns.net,http://localhost,http://127.0.0.1,http://89.169.180.248
DOCKERHUB_USERNAME=arturioo22